@use '../abstracts/variables' as *;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* import fonts for testing */
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Oxygen&display=swap');

main {
  margin: auto;
}

body { 
  color: $text-dark;
  font-weight: weight(regular);
  background-image: url('../../../public/img/bg1.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $primary;
  background-position: top right;
  background-blend-mode: color-burn;
}
