
$primary: hsla(0, 0%, 100%, 0.9);
$highlight: rgb(44, 206, 235);
$accent-mid: rgb(45, 209, 171);
$accent-light: rgb(124, 255, 224);
$trim-mid: #979797;
$text-dark: #444040;
$warning: #ff84a1;

$btn-gradient: linear-gradient(to top, $accent-mid 10%, $accent-light 95%);
// $btn-gradient: linear-gradient(to right bottom, hsl(166, 65%, 55%) 25%, hsl(166, 100%, 50%) 95%);
$btn-gradient-light: linear-gradient(to top left, hsla(166, 86%, 72%, 0.9) 15%, hwb(166 71% 0% / 0.9) 90%);


$screen-size: 80vh;
// map for font-weights
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);

$heading-size: (
  "1": 2.5rem,
  "2": 2rem,
  "3": 1.8rem,
  "4": 1.5rem,
  "5": 1.2rem,
  "6": 1rem,
)

