@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
  
  background-image: url('../assets/img/bg4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsla(47, 98%, 47%, 0.1);
  background-position: center;
  background-blend-mode: multiply;
}

main {
  margin: 2% 8%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.product__card {
  border-radius: 0.75rem;
}

.btn__add {
  background-color: #72cfc4;  
}

.btn__add:hover {
  background-color: #3c9cc8;
}

.btn__checkout {
  background-color: #3c9cc8;
}

.btn__checkout:hover {
  background-color: #13ba93;
  
}