@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* import fonts for testing */
@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Oxygen&display=swap");
.btn-checkout, .btn-cart, .btn-search {
  padding: 0.25rem 2rem;
  color: white;
  background: linear-gradient(to right bottom, hsl(166deg, 65%, 55%) 25%, hsl(166deg, 100%, 50%) 95%);
  font-weight: 400;
  align-self: end;
  text-align: center;
  box-shadow: 0.05rem 0.05rem #979797;
  border: none;
}
.btn-checkout:hover, .btn-cart:hover, .btn-search:hover {
  background: rgb(44, 206, 235);
  color: #444040;
}

.btn-checkout {
  margin-top: 1.5rem;
  padding: 0.1rem 6rem;
  align-self: center;
  font-size: 1.5rem;
}

.btn-search {
  background: linear-gradient(to right bottom, hsla(166deg, 65%, 75%, 0.9) 25%, hsla(166deg, 100%, 85%, 0.8) 95%);
  color: #444040;
}

.btn-pw {
  margin-left: 0.5rem;
  background: transparent;
  font-weight: 700;
  color: #000000;
  border: none;
}

.btn-bookmark {
  background: transparent;
  color: #444040;
  border: none;
  font-size: 1.85rem;
  margin-bottom: 0.4rem;
}
.btn-bookmark:hover {
  font-weight: 700;
  color: white;
}

.product__fav-btn {
  z-index: 200;
  position: absolute;
  top: 0.5rem;
  right: -0.25rem;
  padding: 0rem 0.7rem 0.25rem 0.5rem;
  background-color: white;
  border-radius: 5%;
}
.product__fav-btn button {
  background-color: white;
}

.detail__fav-btn {
  position: absolute;
  top: 3rem;
  right: 9.5rem;
  padding: 0 0.1rem 0.25rem 0.1rem;
  transform: scale(1.4);
  background-color: white;
}
.detail__fav-btn button {
  background-color: white;
}

.btn-fav {
  border: none;
  font-size: 1.2rem;
  background: white;
}

.faved {
  color: #ff3867;
}

.checkout-progress {
  padding-top: 1.55rem;
  position: relative;
  max-width: 50%;
  margin: 2rem auto;
}
.checkout-progress ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  text-align: center;
}
.checkout-progress ul li {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #979797;
  z-index: 50;
  position: relative;
}
.checkout-progress ul li.done {
  background-color: rgb(44, 206, 235);
}
.checkout-progress ul li::after {
  position: absolute;
  top: 1.75rem;
  left: -0.3rem;
  font-size: 1rem;
}
.checkout-progress ul li:nth-child(1)::after {
  content: "Order";
  left: -0.85rem;
}
.checkout-progress ul li:nth-child(2)::after {
  content: "Shipping";
  left: -1.4rem;
}
.checkout-progress ul li:nth-child(3)::after {
  content: "Payment";
  left: -1.4rem;
}
.checkout-progress ul li:nth-child(4)::after {
  content: "Order Complete";
  left: -1.6rem;
}
.checkout-progress .progress {
  height: 0.3rem;
  width: 100%;
  top: 1.9rem;
  position: absolute;
  background-color: #e0e0e0;
  border-radius: 2rem;
}
.checkout-progress .progress__bar {
  background-color: rgb(44, 206, 235);
}

.checkout-table {
  text-align: start;
}
.checkout-table__header {
  border-bottom: solid 0.15rem #979797;
  font-size: 1.2rem;
}
.checkout-table__header-row th:nth-child(2) {
  padding-left: 1rem;
}
.checkout-table__row {
  font-size: 1rem;
}
.checkout-table__row td:nth-child(2), .checkout-table__row td:nth-child(3) {
  padding-left: 1rem;
}
.checkout-table__row td:nth-child(5) {
  padding-left: 3rem;
}
.checkout-table__link {
  text-decoration: none;
  color: #444040;
}
.checkout-table__img {
  width: 100%;
  margin-right: 1rem;
}

.order-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  gap: 3rem;
}
.order-empty h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(44, 206, 235);
}
.order-empty h2 {
  font-size: 2rem;
}
.order-empty button {
  padding: 0.75rem 5rem;
}

.order-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  margin-top: 6rem;
}
.order-summary h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(44, 206, 235);
  margin-bottom: 2rem;
}
.order-summary__bg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: hsla(0deg, 0%, 100%, 0.8);
  border: rgba(45, 209, 171, 0.9) solid 0.01rem;
  border-radius: 12rem;
  padding: 5rem 0;
}
.order-summary__bg div {
  display: flex;
}
.order-summary__footer {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
}
.order-summary__footer button {
  padding: 0.25rem 4rem;
}

.order-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  margin: 0 0 0 5rem;
}
.order-total h5 {
  font-weight: 700;
  margin-bottom: 2rem;
}
.order-total div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.2rem;
}
.order-total div p:nth-child(1) {
  margin: 0 3rem 0 0;
}

.shipping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shipping header {
  margin-top: 2rem;
}
.shipping__form {
  margin-top: 1rem;
}
.shipping__form div {
  gap: 1rem;
}
.shipping__form div:nth-child(2n+1) {
  margin-top: 0.5rem;
}
.shipping__form input {
  margin-top: 0.15rem;
  padding: 0.25rem;
}

.shipping__footer {
  display: flex;
  justify-content: center;
}

.payment {
  margin: 0 auto;
  margin-top: 5rem;
}
.payment__form {
  display: flex;
  gap: 4rem;
}

.payment__right, .payment__left {
  padding: 0 1rem;
}
.payment__right h2, .payment__left h2 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
}
.payment__right div, .payment__left div {
  gap: 1rem;
}
.payment__right div label, .payment__left div label {
  padding-left: 0.25rem;
}
.payment__right div input, .payment__left div input {
  margin-top: 0.25rem;
}

.payment__left div:nth-child(2n) {
  margin-top: 1rem;
}

.payment__right fieldset {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem auto 2.1rem auto;
}
.payment__right .row:nth-child(odd) {
  margin-top: 1rem;
}

.payment__footer {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}

.order-complete {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  color: #444040;
}
.order-complete h1 {
  color: rgb(44, 206, 235);
  font-weight: bold;
}
.order-complete h2 {
  margin-bottom: 5rem;
}
.order-complete p {
  font-size: 2rem;
}

.counter {
  display: flex;
  gap: 0.1rem;
  align-items: center;
}

.counter__remove, .counter__add {
  background: transparent;
  border: none;
  font-weight: 700;
  height: 2rem;
  width: 2rem;
  font-size: 1.75rem;
}

.counter__add {
  color: #59ceb3;
  margin-bottom: 0.75rem;
}

.counter__remove {
  color: #ff84a1;
  margin-top: -0.95rem;
  margin-left: 0.25rem;
}

.btn__delete {
  height: 1.25rem;
  width: 1.25rem;
  margin: 0.1rem 0 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #444040;
  color: white;
  border-radius: 50%;
}

.delete-dialog__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dialog__cart {
  position: absolute;
  top: 5vh;
  right: 0;
}

.dialog-favorites {
  position: absolute;
  top: 5rem;
  right: 1.5rem;
}
.dialog-favorites__header {
  background: linear-gradient(to top, rgba(9, 197, 188, 0.9), rgba(45, 209, 171, 0.9) 15%, rgba(124, 255, 224, 0.8) 85%);
}
.dialog-favorites__title {
  font-size: 1.2rem;
}
.dialog-favorites__body {
  margin: 1rem 0.25rem;
}

.wishlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wishlist__msg {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  padding: 0 2rem;
}
.wishlist__item {
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.wishlist__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #444040;
  gap: 0.5rem;
}
.wishlist__price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}
.wishlist__price div:nth-child(1) {
  color: #ff84a1;
}

.login-form {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.login-form__input {
  width: 50%;
}
.login-form__footer {
  margin-top: 2rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.login-form__signup {
  display: flex;
  gap: 1rem;
}

.dialog-login {
  margin: 30vh auto;
}

.product-card {
  padding: 0.3rem;
}
.product-card :hover {
  border: 0.1rem solid transparent;
  outline: 0.2rem solid rgba(45, 209, 171, 0.9);
}
.product-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding-bottom: 1rem;
  border: 0.1rem solid;
  border-image: linear-gradient(to bottom, #979797 20%, rgba(45, 209, 171, 0.9)) 1 20%;
  font-size: 1rem;
  background-color: hsla(0deg, 0%, 100%, 0.8);
  overflow: hidden;
}
.product-card__content :hover {
  border: none;
  outline: none;
  color: #444040;
}
.product-card__content img {
  margin-bottom: 0.25rem;
}
.product-card__content footer {
  margin-top: 1rem;
}
.product-card__link {
  text-decoration: none;
  color: #444040;
}
.product-card__text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.product-card__name {
  margin: 0.5rem 0.5rem;
  text-decoration: none;
}
.product-card__price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
.product-card__sale-tag {
  margin-right: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}
.product-card__sale {
  margin-left: 0.5rem;
}

.product-dash__title {
  font-weight: 400;
  margin-bottom: 2rem;
}
.product-dash__items {
  padding: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  overflow-y: scroll;
}
.product-dash__items::-webkit-scrollbar {
  width: 0.35rem;
}
.product-dash__items::-webkit-scrollbar-track {
  background-color: #979797;
  border-radius: 1rem;
}
.product-dash__items::-webkit-scrollbar-thumb {
  border: 0.005rem solid #cfcfcf;
  background-color: white;
  border-radius: 1rem;
}

.product-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}
.product-detail__frame {
  position: relative;
  margin-right: 3rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(0deg, 0%, 100%, 0.8);
  border: 0.1rem solid;
  border-image: linear-gradient(to bottom, #979797 20%, rgba(45, 209, 171, 0.9)) 1 20%;
}
.product-detail__frame img {
  margin-bottom: 1rem;
}
.product-detail__frame p {
  font-size: 1.2rem;
}

.user__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  margin-top: 6rem;
}
.user__main h1 {
  color: rgb(44, 206, 235);
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 4rem;
  margin: 3rem 0;
}
.user__wishlist {
  padding: 0 4rem;
}

.registration {
  margin: 3rem 0;
}
.registration h4:nth-child(2) {
  margin-top: 1rem;
}
.registration__form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
}
.registration__form input {
  width: 60%;
}
.registration__form footer {
  margin: 3rem 0 0 3rem;
}

.cart-contents {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  background-color: hsla(0deg, 0%, 100%, 0.8);
  border-radius: 0.25rem;
  padding-right: 1rem;
}
.cart-contents .shopping-card {
  height: 4.5rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.cart-contents .shopping-card__img {
  height: 5rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.cart-contents .shopping-card__right {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}
.cart-contents .shopping-card__details {
  margin-top: -0.5rem;
  display: flex;
  align-items: center;
}
.cart-contents .shopping-card__sale {
  color: #ff84a1;
}
.cart-contents .shopping-card__counter {
  margin: 0 0.2rem;
  justify-self: flex-end;
  margin-bottom: 0.4rem;
}

.shopping-cart {
  margin-left: 1rem;
}
.shopping-cart h1 {
  font-weight: 400;
  margin-bottom: 2rem;
  margin-bottom: 3.15rem;
}
.shopping-cart__summary {
  margin-top: 2rem;
}
.shopping-cart footer {
  padding-bottom: 3rem;
}

.product__cart {
  margin-left: 3rem;
}

.navbar {
  background: linear-gradient(to top left, rgba(9, 197, 188, 0.9), rgba(45, 209, 171, 0.9) 15%, rgba(124, 255, 224, 0.8) 85%);
  padding: 0.75rem 0.5rem;
  position: sticky;
  top: 0;
}
.navbar__link {
  color: #444040;
}
.navbar__list {
  margin-right: auto;
  margin-top: 0.1rem;
}
.navbar__welcome {
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 4rem;
  color: white;
}
.navbar__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1.5rem 0 3rem;
}
.navbar__cart-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.navbar__cart-icon {
  color: #444040;
  font-size: 1.8rem;
  margin-bottom: 0.25rem;
}
.navbar__cart-badge {
  margin-top: -1.75rem;
  margin-left: -0.75rem;
  background-color: hwb(47 16% 0%);
  color: #444040;
  border: solid 1px white;
  border-radius: 50%;
  padding: 0 0.5rem;
}

main {
  margin: 2% 10%;
}

body {
  color: #444040;
  font-weight: weight(regular);
  background-image: url("../../../public/img/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsla(0deg, 0%, 100%, 0.8);
  background-position: top right;
  background-blend-mode: color-burn;
}

.home {
  /* height: calc(100vh - 10.35rem) ; */
  height: 80vh;
  box-sizing: border-box;
}

.user {
  height: 80vh;
  box-sizing: border-box;
}

.errmsg {
  color: #f32c5a;
  background-color: #ffb9c9;
}

.opaque-bg {
  background-color: hsla(0deg, 0%, 100%, 0.8);
  border-radius: 3rem;
  padding: 2rem 5rem;
}

/*# sourceMappingURL=main.css.map */
