.checkout__progress {
  position: relative;
  max-width: 50%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;

}

.checkout__progress ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.checkout__progress ul li {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #979797;
  z-index: 50;
  position: relative;
}

.checkout__progress ul li.done {
  background-color: #25aceb;
}

.checkout__progress ul li::after {
  position: absolute;
  top: 1.75rem;
  left: -0.3rem;
  font-size: 0.85rem;
  /* width: 5px; */
}

#step-1::after {
  content: "Order";
  justify-self: center;
  left: -0.6rem;
}

#step-2::after {
  content: "Shipping";
  text-align: center;
}

#step-3::after {
  content: "Payment";
  left: -1rem
}

#step-4::after {
  content: "Order Complete";
  left: -1.25rem;
}

.checkout__progress .progress {
  height: 0.3rem;
  width: 100%;
  top: 1.9rem;
  position: absolute;
  background-color: #e0e0e0;

  border-radius: 2rem;
}

.progress-bar {
  background-color: #25aceb;
  /* width: 33.33%; */
}

.blue {
  /* color: #3c9cc8; */
  color: #f32c5a;

}