@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.cart-dialog {
  position: absolute;
  right: 1rem;
  top: 2.2rem; 
  
  &__content {
    width: 100%;
    // @include flexCenter(column);
    margin: 0;
    padding:0;
  }

  h5 {
    font-size: smaller(smaller(map-get($heading-size, '5')));
    width: 100%;
  }
}





// delete item from cart dialog
.delete-dialog {
  top: 16rem;
  margin: 0 auto;


  &__footer {
  @include flexCenter(row);
  gap: 1rem;
  }
}


// wishlist dialog
.dialog-favorites {  
  position: absolute;
  top: 5rem;
  right: 1.5rem;

  &__header {
    background: nav-gradient(tt);  
  }

  &__title {
    font-size: map-get($heading-size, '5');  
  }

  &__body {
    margin: 1rem 0.25rem;
  }
}

