@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


.wishlist {
  @include flexCenter(column);

  &__msg {
    font-size: map-get($heading-size, '3');
    margin-top: 3rem;
    padding-right: 2rem;
    
  }

  &__item {
    margin-bottom: 0.2rem; 
    @include flexCenter(row);
    justify-content: flex-start;  // adjust mixin    

    :hover {
      color: $text-dark;
    }
  }

  &__link {
    @include flexCenter(row);
    text-decoration: none;
    color: $text-dark;
    gap: 0.5rem;
  }

  &__price {
    @include flexCenter(row);
    justify-content: flex-end;

    div:nth-child(1) {
      margin-right: 0.5rem;
    }
  }

  &__sale {
    color: $warning;
  }
  
}