
.product__fav-btn {
  z-index: 200;
  position: absolute;
  top: .5rem;
  right: -0.25rem;
  padding: 0rem 0.7rem 0.25rem 0.5rem;
  background-color: white;
  border-radius: 5%;
}
 
.fav-icon {
  
  background-color: white;
  
} 


.detail__fav-btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  transform: scale(1.4);
}

.favorites__dialog {
  
  position: absolute;
  top: 4.75rem;
  right: 0.75rem;
  width: 100%;
}