@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


// properties from ProductCard
.product-wrapper__outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;  // gap between cards
}

.product-wrapper__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  

  :hover {
    border: 0.1rem solid transparent;
    outline: 0.2rem solid $accent-mid;   
  }
}


.product-card {
    @include flexCenter(column);
    
    position: relative;
    padding-bottom: 1rem;
    @include product-border;
    font-size: map-get($heading-size, '6');
    background-color: $primary;
    overflow: hidden;

    :hover {
      border: none;
      outline: none;
      color: $text-dark;
    }   
    
    img {
      margin-bottom: .25rem;
      border-bottom: solid $trim-mid 0.05rem;
    }

    footer {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-top: 0.5rem;
      height: 100%;
    }

    &__link {
      text-decoration: none;
      color: $text-dark;
      display: flex;
      flex-direction: column;
    }
  
    &__text {
      // width: 100%;  originally set to w-100 in bs
      @include flexCenter(column);
      padding: 0 0.2rem;
    }
  
    &__name {
      // margin: 0.5rem 0.5rem;
      text-decoration: none;
      text-align: left;
      flex-wrap: wrap;
    }
  
    &__price {
      @include flexCenter(row);
      
    }
  
    
    &__sale-tag {
      margin-right: 0.5rem;
      padding-bottom: 0.5rem;
      font-size: map-get($heading-size, '4');
    }
  
    &__sale {
      margin-left: 0.5rem;
    }

    &__reg {
      padding-top: 0.5rem;
    }
  }

// product dash properties from ProductDash
.product-dash {
  @include bg-primary;
  padding: 3% 6%;
  margin: 0 auto;
  
  &__title {
    @include title-text;
  }

  &__items {
    // padding: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    // overflow-x: scroll;
  
    &::-webkit-scrollbar {
    width: 0.35rem
    }
  
    &::-webkit-scrollbar-track {
    background-color: $trim-mid;
    border-radius: 1rem;
    }
  
    &::-webkit-scrollbar-thumb {
    border: .005rem solid #cfcfcf;
    background-color: white;
    border-radius: 1rem;
    }
  }
}


// product detail component

.product-detail {
  @include flexCenter(row);
  align-self: flex-start;

  &__frame {
    position: relative;
    margin-right: 3rem;
    @include flexCenter(column);
    background-color: $primary;
    @include product-border;

    img {
      margin-bottom: 1rem;
    }

    p {
      font-size: map-get($heading-size, '5');
    }
    
  }
}







