@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;


// card for each shopping cart item

.cart-contents { 
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  background-color: $primary;
  border-radius: 0.25rem;
  
  .shopping-card {
    width: 100%;
    height: 4.5rem;  
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;

    &__img {
      height: 5rem;
      border-top-left-radius: 0.25rem; 
      border-bottom-left-radius: 0.25rem;
      margin-right: 0.5rem;
    }
    &__right {
      display: flex;
      justify-content: space-between;
    }

    &__details {
      display: flex;  
      
    }

    &__price-sale {
      color: $warning;
    }

  }

}



// shopping cart component
.shopping-cart {
  
  h1 {
    font-weight: map-get($font-weights, 'bold');
    font-size: map-get($heading-size, '4');
    margin-bottom: 2rem;
  }

  &__summary {
    margin-top: 2rem;
  }

  footer {
    padding-top: 0.5rem;
  }
}





