@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;


// card for each shopping cart item

.cart-contents { 
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  background-color: $primary;
  border-radius: 0.25rem;
  padding-right: 1rem;

  .shopping-card {
    height: 4.5rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;

    &__img {
      height: 5rem;
      border-top-left-radius: 0.25rem; 
      border-bottom-left-radius: 0.25rem;
    }
    &__right {
      padding: 0 0.5rem;
      display: flex;
      flex-direction: column
    }

    &__details {
      margin-top: -.5rem;
      display: flex;  
      align-items: center;
    }

    &__sale {
      color: $warning;
    }

    &__counter {
      margin: 0 0.2rem;
      justify-self: flex-end;
      margin-bottom: 0.4rem;

    }

  }

}



// shopping cart component


.shopping-cart {
  margin-left: 1rem;
  
  h1 {
    @include title-text;
    margin-bottom: 3.15rem;
  }
  &__summary {
    margin-top: 2rem;
  }
  footer {
    padding-bottom: 3rem;
  }
}



.product__cart {
  margin-left: 3rem;
}


